---
import Layout from "../layouts/Layout.astro";
import Suspense from "../components/Suspense.astro";
import Albums from "../components/Albums.astro";
---

<Layout title="Spotifn’t">
  <h1 class="text-3xl mb-3">Spotifn’t</h1>
  <Suspense>
    <p slot="fallback">Getting albums</p>
    <Albums />
  </Suspense>
</Layout>
