---
import Nested from "./Nested.astro";
import Suspense from "./Suspense.astro";

type Props = {
  ms: number;
};

const { ms } = Astro.props;

const sleep = (ms: number) => new Promise((resolve) => setTimeout(resolve, ms));

await sleep(ms);
---

<p>Hello parallel fetching!</p>
<Suspense>
  <p slot="fallback">Waiting on secret message...</p>
  <Nested />
</Suspense>
