---
const idx = Astro.locals.suspended.length;
Astro.locals.suspended.push(Astro.slots.render("default"));
---

<div style="display: contents" data-suspense-fallback={idx}>
  <slot name="fallback" />
</div>
